@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
.margin {
  margin-left: 35%; }

.navbar-collapse {
  justify-items: center; }

.navbar-nav {
  margin: 50px 5px 0px 10px; }
  .navbar-nav .nav-item {
    align-items: center;
    font-size: 0.75em;
    font-weight: bold;
    border: 1px solid black;
    background-color: #a85232;
    margin: 5px 15px 5px 15px; }

header {
  background-color: #f3d084; }

.logo {
  width: 20%;
  height: 15%;
  border-radius: 50%; }

.titulo {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin: 0px 5px 0 5px; }

.opciones {
  background-color: #e98966;
  font-weight: bold;
  font-size: 1.2em;
  color: black; }
  .opciones:hover {
    color: black;
    background-color: #fdaa8b; }

/** boton dropdown en el menu**/
.btn:hover {
  color: black;
  background-color: #e98966; }

.dropdown-menu {
  background-color: #e98966; }
  .dropdown-menu .dropdown-item {
    font-weight: bold; }

@media (max-width: 640px) {
  .titulo {
    font-size: 1em; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .carousel-close {
    display: none; } }

/**media for historia**/
@media screen and (min-width: 320px) and (max-width: 600px) {
  .pasteleros h2 {
    font-size: 1em; }
  .pasteleros p {
    font-size: 0.5em; } }

/** media for productos*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .card-mod {
    margin-top: 5px;
    margin-bottom: 50px; }
    .card-mod h5 {
      font-size: 1em; }
    .card-mod p {
      font-size: 0.7em; }
    .card-mod button {
      font-size: 1em; }
    .card-mod img {
      margin-top: 5px; } }

/** media for footer**/
@media screen and (min-width: 320px) and (max-width: 600px) {
  .logo_footer {
    display: none; }
  .info {
    display: none; } }

/** Footer Flex**/
footer {
  background-color: burlywood;
  background-image: linear-gradient(to right, burlywood, #573203);
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  footer h3 {
    font-size: 1.2em; }

.titulo1 {
  display: flex;
  flex-direction: row;
  height: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  font-weight: bold; }
  .titulo1 a {
    color: black; }

.logo_footer {
  width: 10%;
  height: 50%;
  border-radius: 50%; }

.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer_flex li {
    font-size: 1em; }
    .footer_flex li a {
      color: black; }
  .footer_flex .redes {
    font-weight: 1.2em; }
  .footer_flex .redes1 {
    display: flex;
    justify-content: space-evenly; }
    .footer_flex .redes1 li {
      height: 20px;
      width: 20px; }
  .footer_flex a {
    color: black; }

.contacto, .telefono, .direccion {
  margin: 0px;
  font-size: 1em;
  color: black; }

.derechos {
  display: flex;
  justify-content: center; }
  .derechos p {
    font-size: 0.7em; }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .logo_footer {
    display: none; }
  .info {
    display: none; }
  .footer_flex .redes {
    font-size: 0.7em; }
  .redes1 li {
    height: 20px;
    width: 20px; }
  .img-cookies, .img-cookies2, .img-cookies3 {
    border-radius: 5%;
    height: 273px;
    width: 320px; }
  .contacto, .telefono, .direccion {
    margin: 0px;
    font-size: 0.7em;
    color: black; }
  .derechos p {
    font-size: 0.5em; } }

* {
  color: inherit;
  text-decoration: none !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0; }

.fondo {
  background-color: #a85232; }

.carousel-inner {
  margin-bottom: 50px;
  width: 100%;
  height: 500px; }

.sr-only {
  color: orange; }

.card--mod {
  border: transparent;
  background-color: #a85232; }
  .card--mod .card-header {
    background-color: #a85232; }
  .card--mod .btn__mod {
    background-image: url(../imagenes/fondo-descripcion.jpg);
    font-size: 2.5em;
    color: black;
    font-family: "Dancing Script", cursive;
    margin-left: 10%; }
  .card--mod .card-body__mod {
    background-color: #f3d084;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    color: black;
    font-family: "Dancing Script", cursive; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .btn__mod {
    font-size: 1em !important;
    margin-left: 0rem; }
  .prueba {
    font-size: 0.75em; } }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  justify-content: center;
  grid-template-areas: "imagen-1 imagen-2" "imagen-3 imagen-4"; }

.imagen-1 {
  grid-area: imagen-1;
  border-radius: 20px;
  width: 75%;
  height: 90%;
  margin-left: 10%; }

.imagen-2 {
  grid-area: imagen-2;
  border-radius: 20px;
  width: 75%;
  height: 90%;
  margin-left: 10%; }

.imagen-3 {
  grid-area: imagen-3;
  border-radius: 20px;
  width: 75%;
  height: 90%;
  margin-left: 10%; }

.imagen-4 {
  grid-area: imagen-4;
  border-radius: 20px;
  width: 75%;
  height: 90%;
  margin-left: 10%; }

.transform {
  outline: none;
  transition: transform 0.5s; }
  .transform:hover {
    transform: scale(1.2); }

.card {
  margin: auto;
  background-color: #a85232;
  border: transparent;
  justify-content: space-between;
  align-items: center;
  width: 15rem; }
  .card .card-body {
    background-color: #f3d084;
    border-radius: 10px;
    margin-bottom: 10%;
    padding-bottom: 0px;
    width: 20rem; }
  .card .card-img-top {
    width: 20rem; }
  .card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em; }
  .card .card-text {
    font-size: 1em; }
  .card .img-mod {
    width: 320px;
    height: 230px;
    border-radius: 10%; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .card {
    justify-content: center;
    margin: auto; }
  .card-body {
    width: 10rem; }
  .card-img-top {
    width: 15rem; } }

.form-inline {
  justify-content: center; }
  .form-inline select {
    height: 40px; }

.btn-comprar {
  color: white;
  margin-bottom: 5px;
  font-size: 1.5em;
  background-color: #a85232;
  margin-top: 2%; }
  .btn-comprar a {
    color: white; }

.modal-content .modal-title {
  font-size: 1.5em; }

.modal-content .modal-body p {
  text-align: center;
  font-size: 1em; }

.modal-content .modal-footer {
  justify-content: space-around; }

.pasteleros h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  text-align: center; }

.pasteleros p {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center; }

img {
  margin-top: 2%;
  width: 100%;
  height: auto; }

.background_sucursales {
  background-image: url(../imagenes/fondo_contacto.jpg);
  padding-top: 50px; }

.locales {
  text-align: center;
  font-size: 3.12em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  padding-top: 50px;
  margin: 10px 0 70px 0; }

.adress {
  text-align: center;
  border: 1px solid black;
  background-image: url(../imagenes/fondo-descripcion.jpg); }

article h3 {
  font-size: 1.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.sucursal_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.background_contacto {
  background-image: url(../imagenes/fondo_contacto.jpg);
  padding-bottom: 50px; }
  .background_contacto .contacto1 {
    color: whitesmoke;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em; }
  .background_contacto .cuadro {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 50px 50px 50px 50px;
    background-image: url(../imagenes/fondo-descripcion.jpg); }
  .background_contacto .container_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.form_flex {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.12em;
  border: 2px solid black;
  margin: 5% 15% 5% 15%;
  padding: 5% 5% 5% 5%;
  background-image: url(../imagenes/fondo-descripcion.jpg); }

#boton-1 {
  font-size: 1.5em;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px; }

#boton-2 {
  font-size: 1.5em;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px; }

.boton {
  align-self: center;
  margin-top: 20px; }
  .boton #boton-1:hover {
    background-color: wheat;
    border: whitesmoke; }
  .boton #boton-2:hover {
    background-color: wheat;
    border: whitesmoke; }

.form-group {
  margin-top: 30px;
  margin-right: 20px; }

.background-form {
  background-image: url(../imagenes/fondo_contacto.jpg); }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .pasteleros h2 {
    font-size: 1em; }
  .pasteleros p {
    font-size: 0.5em; }
  .titulo {
    font-size: 1.3em; }
  .carousel-close {
    display: none; }
  .card-mod {
    margin-top: 5px;
    margin-bottom: 50px; }
    .card-mod h5 {
      font-size: 0.75em; }
    .card-mod p {
      font-size: 0.2em; }
    .card-mod button {
      font-size: 1em; }
    .card-mod img {
      margin-top: 5px; } }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .logo_footer {
    display: none; }
  .info {
    display: none; }
  .redes {
    font-size: 0.5em; }
  .img-cookies, .img-cookies2, .img-cookies3 {
    border-radius: 5%;
    height: 273px;
    width: 320px; } }
