/**start footer**/


footer{
    background-color: burlywood;
    background-image: linear-gradient(to right, burlywood, rgb(87, 50, 3));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    h3{
    font-size: 1.2em;
    }

}

.footergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:50px 100px;
    justify-content:center;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    grid-template-areas: 
    "titulo1 titulo1 titulo1"
    "info redes contacto";
}


@each $areas in info,redes,contacto{
    .#{$areas}{
        grid-area: #{$areas};
        font-size: 1.2em;
        justify-self: center;
    }
    }

.logo_footer{
    width: 2%;
    height: 50%;
    border-radius: 50%;
}


.infoColor{
    color: black;
    padding-left: 10px;
}

.titulo1{
    grid-area: titulo1;
    margin-left: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    a{
        color: black;
    }
}


.redes1{
    display: flex;
    justify-content: center;
}


footer{
    li{
    display:block;
    justify-items: center;
    }
    p{
    font-size: 0.75em;
}
}

