
@import "fonts";
@import "header";
@import "mediaqueries";
@import "footerflex";

* {
    color: inherit;
    text-decoration: none !important;
    list-style-type: none !important;
    margin: 0;
    padding: 0; }



// background pagina//
.fondo {
    background-color:#a85232;
}

//Carousell//
.carousel-inner{
    margin-bottom: 50px;
    width: 100%;
    height: 500px;
}

.sr-only {
    color: orange;
}






.card-header{
    font-size: 2em;
    
}


//start grid index//

.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    justify-content: center;
    grid-template-areas: 
    "imagen-1 imagen-2"
    "imagen-3 imagen-4"
    ;
}



@for $i from 1 through 4 {
    .imagen-#{$i} {
        grid-area: imagen- + $i;
        border-radius: 20px;
        width: 75%;
        height: 90%;
        margin-left: 10%;
    }
}



.transform{
    outline: none;
    transition: transform 0.5s;
    &:hover{ 
    transform:scale(1.2);
    }
}
// end grid index//







//Start contacto//
.background_contacto{
    background-image:url(../imagenes/fondo_contacto.jpg);
    padding-bottom: 50px;
    .contacto1{
        color:whitesmoke;
        margin-top: 50px;
        font-family:$fuente-secundaria;
        font-size: 3em;
    }
    .cuadro{
        border:1px solid black;
        font-family: $fuente-secundaria;
        text-align: center;
        padding:50px 50px 50px 50px;
        background-image: url(../imagenes/fondo-descripcion.jpg);
    }
    .container_flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.form_flex{
    display:flex;
    flex-direction: column;
    font-family: $fuente-secundaria;
    font-size: 1.12em;
    border:2px solid black;
    margin: 5% 15% 5% 15%;
    padding: 5% 5% 5% 5%;
    background-image: url(../imagenes/fondo-descripcion.jpg);
}



@for $i from 1 through 2 {
    #boton-#{$i} {
        font-size: 1.5em;
        margin-right: 5px;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
    }
}

.boton{
    align-self: center;
    margin-top: 20px;
    #boton-1:hover{
        background-color: wheat;
        border: whitesmoke;
    }
    #boton-2:hover{
        background-color: wheat;
        border: whitesmoke;
    }
}


//end contacto//



//start sucursales//

.background_sucursales{
    background-image: url(../imagenes/fondo_contacto.jpg);
    padding-top:50px;
}


.locales{
    text-align: center;
    font-size: 3.12em;
    font-weight: bold;
    font-family: $fuente-secundaria;
    color: whitesmoke;
    padding-top: 50px;
    margin:10px 0 70px 0;
}

.adress{
    text-align: center;
    border: 1px solid black;
    background-image: url(../imagenes/fondo-descripcion.jpg);
}

article{ 
        h3{
        font-size: 1.8em;
        font-family: $fuente-secundaria;
}
}




.sucursal_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

//end Sucursales//






//Start historia//
.pasteleros{
    h2{
    font-family: $fuente-secundaria;
    font-size: 2.5em;
    text-align: center;
    }
    p{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    }
}


img{
    margin-top: 2%;
    width: 100%;
    height: auto;
    }


//end historia//


//start productos-alfajores-conitos//


.margin_card{
    margin-left: auto;
}
.card-img-top{
    margin-top: 10%;
    width: 80%;
    height: 50%;
    border-radius: 5%;
}

.card-body{
    height: auto;
    width: 80%;
    background-color:rgb(243, 208, 132);
    border-radius: 10px;
    margin-bottom: 10%;
    padding-bottom: 0px;
    .card-title {
    text-align: center;
    font-weight: bold;
    }
    
}

.form-inline{
    justify-content: center;
    select{
        height: 40px;
    }
}

.btn-comprar{
    color:white;
    margin-bottom: 5px;
    font-size: 1.5em;
    background-color:#a85232;
    margin-top: 2%;
}

//end productos-alfajores-conitos-barritas-galletas//

//start modal//
.modal-content{
    .modal-title{
        font-size: 1.5em;
    }
    .modal-body p{
        text-align: center;
        font-size: 1em;
    }
    .modal-footer{
        justify-content: space-around;
    }

}

.btn-comprar__modificado{
    color:white;
    font-size: 1.5em;
    background-color:#a85232;
}

// End modal//




